*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    max-width: 1600px;

}
.banner{
    width:1600px;
    height: 800px;
    background: url("../images/banner/banner3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.banner-content{
    padding: 50px 50px 0 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.banner-title{
    width: 33%;
    max-width: 525px;
    height: 220px;
    font-size: 50px;
    text-align: right;
    position: relative;
    padding-top: 150px;
    margin-right: 220px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-dis{
    width: 30%;
    max-width: 494px;
    height: 70px;
    margin-right: 220px;
    text-align: right;
    font-size: 13px;
}
.banner-btn{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    margin-right: 220px;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    background-color: #fff;
    color: #005FAC;
}

/* main content related style */
main{
    max-width: 100%;
    margin: 0 130px;
}
main section {
    margin-top: 130px;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 40px;
}
.failure-face img{
    max-width: 451px;
    margin-left: 150px;
    padding-top: 140px;
}
.failure-content{
    text-align: left;
    position: relative;
    top: 20%;
    margin: 0 auto;
}

.failure-title{
    width: 280px;
    font-size: 32px;
    font-weight: 700;
    color: #151414;
    padding-left: 250px;
    margin-bottom: 0;
}
.failure-description{
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 134px;
    margin-top:20px;
    margin-bottom: 0px;
    color: #444343;
}
.fail-for{
    font-size: 16px;
    position: absolute;
    padding-left: 150px;
    margin-top: 16px;
    color: #444343;
}

.fail-for li {
   list-style-type: circle;
}
/* plan */
.my-class{
    text-align: center;
    font-size: larger;
    font-weight:bolder;
    margin-left: 150px;
}
.plan-container{
    margin-left: 150px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.contact-image{
    width: 1140px;
    height: 300px;
    background: url(../images/gradient1.png), url(../images/watch.png);
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 5px;
    position: relative
}
.image-title{
    position:absolute;
    font-size: 40px;
    margin-top: 60px;
    margin-left: 64px;
    color: #fff;
}
.call-btn{
    width: 160px;
    height: 60px;
    position:absolute;
    font-size: 20px;
    margin-top: 200px;
    margin-left:100px;
    color: #005FAC;
    border-radius: 5px;
    border: none;
    font-weight: 700px;
}

footer{
    width: 1200px;
    height: 250px;
    background-color: #151414;
    color: aliceblue;
    display: flex;
    gap: 130px;
    margin-top: 150px;
    padding: 140px 200px;
    position: relative;
}
.footer-content{
    width: 50%;
}
.footer-title{
  width: 140px;
  height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}
.footer-dis{
    width: 450px;
    height: 75px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
}
.contact-mail{
    width: 180px;
    height: 25px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-phone{
    width: 180px;
    height: 25px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.social-link{
    margin-left: 20px;
    margin-bottom: 25px;
}

.footer-column{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}
.contact-form input[type="text"]{
    width: 225px;
    height: 54px;
    border-radius: 5px;
}
.btn-end{
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-top: 16px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    background-color: #005FAc;
    color: #fff;
}